// Add any custom Sass & CSS here

body {
	overflow-x: hidden;
	background-color: $bg-color-main;;
}

.sticky {
	width: 100%;
}

header {
	z-index: 3;
	width: 100%;
	position: fixed;
}

.top-bar {
	background-color: $bar-color;
	font-size: 20pt;
	padding: 0px;
	// background-color: rgba(255,0,0,.5);
	.menu {
		background-color: rgba(0,0,0,0);
	}
	#main-menu {
		.menu-text {
			@include breakpoint(small) {
				// float: left;
				padding: .05rem;
				font-size: 65%;
			}
			@include breakpoint(medium) {
				font-size: 100%;
				padding: .25rem;
			}
			@include breakpoint(large) {
				padding: $menu-item-padding;
			}
		}
		@include breakpoint(medium only) {
			padding: .5rem;
			float: left;
		}
	}
	h3 {
		color: darkorange;
		font-weight: bold;
	}
	.top-bar-right {
		@include breakpoint(medium only) { //For rotated phones
			float: left;
		}
		a {
			&#homeNav {
				color: yellow;
			}
			&#actionNav {
				color: red;
			}
			&#processNav {
				color: purple;
			}
			&#crewNav {
				color: green;
			}
		}
	}
}

.active {
	background-color: #58A7C7;
}

section {
	text-align: center;
	// padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
}

.stripe {
	background-color: $stripe-color;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#home {
	@include fadeIn(2s);
	// padding: 50px;
	@include centerOuter;
	@include scaleBackground("../media/doge-bg.jpg");
	background-attachment: fixed;
	background-position: center 80px;
	background-origin: content-box;
	@include breakpoint(small) {
		padding-top: 20vh;
		padding-bottom: 20vh;
	}
	@include breakpoint(large) {
		padding-top: 325px;
		padding-bottom: 325px;
	}

	#description {
		@include centerInner;
		text-align: center;
		h2 {
			color: red;
		}
		h1 {
			color: cyan;
		}
	}
}
#aboutModal {
	overflow-y: auto;
	h2 {
		text-align: right;
	}
}


#video {
	h1 {
		color: indigo;
	}
}
#process {
	h1 {
		color: firebrick;
	}
	#image1 {
		@include triImage("../media/many-doge.png");
	}
	#desc1 {
		color: blue;
	}
	#image2 {
		@include triImage("../media/laugh-doge.jpg");
	}
	#desc2 {
		color: deeppink;
	}
	#image3 {
		@include triImage("../media/computer-doge.png");
	}
	#desc3 {
		color: cyan;
	}
}

#crew {
	color: tomato;
}

.carousel {
	img {
		height: 80vw;
		@include breakpoint(medium) {
			height: 50vw;
		}
		// @include breakpoint(large) {
		// 	height: 70vw;
		// }
		max-width: auto;
	}
}

footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $bar-color;
	color: maroon;
}